//main: ../main.scss

// ------------------------------------------------------------------------------------
// This file contains all styles related to the top-navigation of the site/application.
// ------------------------------------------------------------------------------------

.top-navigation {
    // position: fixed;
    position: relative;
    top: 0;
    right: initial;
    bottom: initial;
    left: 0;
    z-index: 99;
    width: 100%;
    background-color: #1C1C1B;
    background-size: cover;
    opacity: 1;
    transition: .35s ease-in-out all;
  
    .wrapper {
        position: relative;
        z-index: 2;
        box-shadow: 0 -5px 20px 0 rgba(0,0,0,.5);
    }
  
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
  
    .logo-image {
        width: 100%;
        max-width: 71px;
        height: auto;
        transition: all .25s ease-in-out;

        &:hover {
            opacity: .75;
        }
    }
  
    .logo-link {
        order: 1;
        margin-right: 35px;
        // margin-left: 10px;
        // padding: 10px;
        color: $brand-color;
    
        @include on-event() {
            text-decoration: none;
            outline: none;
        }
    }
    
    .menu-item {
        position: relative;
        // padding: 20px;
    
        &:not(.menu-dropdown) {
            // a {
            //     &::after {
            //         content: '';
            //         position: absolute;
            //         top: initial;
            //         right: initial;
            //         bottom: -10px;
            //         left: 0;
            //         width: 100%;
            //         height: 2px;
            //         border-bottom: 3px solid #fff;
            //         opacity: 0;
            //         transition: .35s ease-in-out all;
            //     }
        
            //     &:hover::after {
            //         opacity: 1;
            //         bottom: 0;
            //     }
            // }

            a {
                // padding: 34px 23px;
                padding: 34px 30px;
                transition: all .35s ease-in-out;

                &:hover {
                    background-color: $brand-color;
                }
            }
        }
  
        .menu-item {
            padding: 0;
    
            a {
                &::after {
                    display: none;
                }
            }
        }

        &.active,
        &.current-menu-item {
            a {
                background-color: $brand-color;
            }
        }
    }
  
    .navbar {
        padding: 0;
        transition: .35s ease-in-out all;

        &-collapse {
            order: 2;
        }

        &-toggler {
            order: 3;
        }
        
        .navbar-nav {
            a {
                position: relative;
                display: flex;
                font-family: $font-helveticaneue-bold;
                font-size: 18px;
                line-height: 1.4;
                color: #fff;
                text-transform: uppercase;
                text-decoration: none;
                outline: none;
            }
        
            .menu-dropdown {
                @include on-event() {
                    ul {
                        opacity: 1;
                        top: 63px;
                        pointer-events: all;
                    }
                }
        
                & > a {
                    padding-right: 20px;
        
                    &::before,
                    &::after {
                        content: '';
                        position: absolute;
                        top: -1px;
                        bottom: 0;
                        left: initial;
                        width: 10px;
                        height: 3px;
                        margin: auto;
                        background-color: #fff;
                        opacity: 1;
                    }
        
                    &::before {            
                        right: 0;
                        transform: rotate(45deg);
                    }
        
                    &::after {
                        right: -5px;
                        transform: rotate(-45deg);
                    }
                }
        
                ul {
                    position: absolute;
                    top: 100%;
                    z-index: 1;
                    display: flex;
                    flex-direction: column;
                    width: fit-content;
                    background-color: $brand-color;
                    box-shadow: 0 5px 10px 0 rgba(0,0,0,.3);
                    opacity: 0;
                    pointer-events: none;
                    transition: .35s ease-in-out all;
        
                    a {
                        display: flex;
                        padding: 12px 20px;
                        font-size: 14px;
                        color: #fff;
                        background-color: $brand-color;
                        // white-space: nowrap;
                
                        &::before {
                            display: none;
                        }
                
                        @include on-event() {
                            background-color: $secondary-color;
                        }
                    }
                }
            }
        }
    }

    .menu-holder {
        display: flex;
        margin-left: auto;
        order: 4;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 34px;
            height: 34px;
            margin: 0 3px;
            font-size: 20px;
            color: #fff;
            outline: none;
            box-shadow: none;
            border-radius: 50%;
            box-shadow: 0 2px 2px 0 rgba(0,0,0,.28);
            transition: all .25s ease-in-out;

            &:hover {
                background-color: $brand-color;
            }
        }

        .socials,
        .account {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .socials {
            position: relative;
            padding-right: 15px;
            margin-right: 10px;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                width: 3px;
                height: 25px;
                margin: auto;
                background-color: #fff;
            }
        }

        .account {
            li:last-child a {
                border: 2px solid #ac8f63;
            }
        }
    }
    
    .mobile-bottom {
        display: none;
    }

    .navigation-border {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 3px;
        background-color: $brand-color;
        pointer-events: none;
    }

    .navbar-collapse.collapsing + .navigation-border,
    .navbar-collapse.show + .navigation-border {
        background-color: #1C1C1B;
    }
  
    @media (max-width: 1399px) {
        .logo-link {
            margin-right: 28px;
        }

        .menu-item:not(.menu-dropdown) a {
            padding: 34px 23px;
        }
    }
  
    @media (max-width: 1199px) {
        .navbar {
            .container {
                max-width: 100%;
            }
    
            .navbar-nav {
                align-items: center;
                
                a {
                    width: fit-content;
                    // padding: 32px 15px;
                    padding: 32px 2.1vw;
                    font-size: 14px;
                }
            }
        }
    
        .logo-link {
            margin-right: 20px;
        }
    
        .logo-image {
            max-height: 68px;
        }
    }
  
    @media (max-width: 991px) {
        .container {
            position: relative;
        }

        .logo-link {
            padding: 8px 5px;
        }
    
        .logo-image {
            max-height: 65px;
        }
    
        .navbar {
            &-toggler {
                position: absolute;
                top: 6px;
                right: 10px;
                // bottom: 0;
                order: 4;
                margin-left: 0;
            }

            .navbar-nav {
                padding: 10px 0;

                a {
                    justify-content: center;
                    width: 100%;
                    padding: 12px 10px;
                    font-size: 18px;
                }
            }
        }

        .navbar-collapse {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background-color: #1C1C1B;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
        }

        .menu-item {
            display: flex;
            width: 100%;
        }

        .menu-holder {
            position: absolute;
            top: 23px;
            right: 65px;
            // bottom: 0;
            order: 3;

            .socials {
                display: none;
            }
        }

        .mobile-bottom {
            display: flex;
            padding: 20px 0;

            .half {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50%;
                margin: 0;
                padding: 0;
                list-style: none;
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 34px;
                height: 34px;
                margin: 0 3px;
                font-size: 20px;
                color: #fff;
                outline: none;
                box-shadow: none;
                border-radius: 50%;
                box-shadow: 0 2px 2px 0 rgba(0,0,0,.28);
                transition: all .25s ease-in-out;

                &:hover {
                    background-color: $brand-color;
                }
            }

            .badges {
                li {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 5px;
                }
                
                img {
                    display: flex;
                    width: auto;
                    height: 100%;
                    max-height: 60px;
                }
            }
        }
    }
  
    @media (max-width: 767px) {
        .logo-link {
            // padding: 10px 5px;
            padding: 10px 0;
        }
    
        .logo-image {
            width: auto;
            max-height: initial;
            height: 50px;
        }

        .navbar {
            padding: 0;

            &-toggler {
                top: 1px;
            }
    
            .navbar-nav {        
                .menu-dropdown {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
        
                    // .menu-item {
                    //     padding-left: 25px;
            
                    //     &::before {
                    //         content: "";
                    //         position: absolute;
                    //         top: 0;
                    //         left: 0;
                    //         bottom: 0;
                    //         margin: auto;
                    //         width: 15px;
                    //         height: 2px;
                    //         background-color: $brand-color;
                    //     }
                    // }
                            
                    & > a {
                        padding-right: 0;
            
                        &::before,
                        &::after {
                            display: none;
                        }
                    }
        
                    &:hover {
                        ul {
                            top: initial;
                        }
                    }
            
                    ul {
                        position: relative;
                        top: initial;
                        background-color: transparent;
                        pointer-events: all;
                        opacity: 1;
                        box-shadow: none;
            
                        a {
                            padding: 0;
                            font-size: 16px;
                            color: $brand-color;
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    
        .menu-item {
            padding: 0;
    
            &:not(.menu-dropdown) a::after {
                display: none;
            }
        }

        // .menu-holder {
        //     top: 18px;

        //     .socials {
        //         display: none;
        //     }
        // }

        // .mobile-bottom {
        //     display: flex;
        //     padding: 20px 0;

        //     .half {
        //         display: flex;
        //         justify-content: center;
        //         align-items: center;
        //         width: 50%;
        //         margin: 0;
        //         padding: 0;
        //         list-style: none;
        //     }

        //     a {
        //         display: flex;
        //         justify-content: center;
        //         align-items: center;
        //         width: 34px;
        //         height: 34px;
        //         margin: 0 3px;
        //         font-size: 20px;
        //         color: #fff;
        //         outline: none;
        //         box-shadow: none;
        //         border-radius: 50%;
        //         transition: all .25s ease-in-out;

        //         &:hover {
        //             background-color: $brand-color;
        //         }
        //     }

        //     .badges {
        //         li {
        //             display: flex;
        //             justify-content: center;
        //             align-items: center;
        //             margin: 0 5px;
        //         }
                
        //         img {
        //             display: flex;
        //             width: auto;
        //             height: 100%;
        //             max-height: 60px;
        //         }
        //     }
        // }
    }
}