//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.page-home {
    .tastybone-test {
        position: relative;
        padding: 70px 0;
        background-color: #000;

        .bg-dog {
            position: absolute;
            bottom: 0;
            left: -70px;
            z-index: 1;
            width: auto;
            height: calc(100% - 150px);
        }

        .container {
            position: relative;
            z-index: 2;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 100%;
            max-width: 1000px;
            margin: auto;
        }

        .items {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding-top: 40px;
        }

        .item {
            padding: 0 30px;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 250px;
                height: 250px;
                padding: 30px;
                font-family: $font-helveticaneue-black;
                line-height: 1;
                font-size: 26px;
                color: $text-color;
                text-align: center;
                text-transform: uppercase;
                background-color: #fff;
                border-radius: 50%;
                transition: all .25s ease-in-out;

                &:hover {
                    color: #fff;
                    background-color: $brand-color;
                }
            }
        }
    }
    
    .tasty {
        padding: 150px 0 70px;
        overflow: hidden;

        .container {
            display: flex;
        }

        .bones {
            position: relative;
            width: 40%;
        }

        .content {
            display: flex;
            flex-direction: column;
            width: 60%;
        }

        .section-heading {
            align-items: flex-start;
            margin-bottom: 40px;
        }

        .subheading {
            display: flex;
            margin-bottom: 60px;
            font-weight: 900;
            font-size: 24px;
            line-height: 1.3;
        }

        .slider-wrapper {
            position: absolute;
            top: -60px;
            left: -10%;
            width: 100%;
            height: 100%;
        }

        .custom-slider {
            .image-holder {
                display: flex;
                justify-content: center;
            }

            img {
                max-width: 100%;
            }
        }

        .accordion {
            .accordion-item {
                border: 0;
            }

            .accordion-button {
                outline: none;

                @extend .btn-brand;
                @extend .btn-arrow-down;
            }

            .accordion-body {
                padding: 20px 0;
            }
        }

        .button-holder {
            padding-top: 20px;
        }
    }

    .happy {
        padding: 100px 0;
        background-color: #fff;

        .titles {
            display: flex;
            justify-content: space-between;

            a {
                display: flex;
                font-family: $font-helveticaneue-black;
                font-size: 36px;
                line-height: 1.1;
                text-transform: uppercase;
                text-align: center;
                color: $text-color;

                &:hover {
                    color: $brand-hover;
                }
            }
        }

        .image-dogs {
            display: flex;
            padding: 40px 0;

            img {
                width: 100%;
            }
        }

        .buttons {
            display: flex;
            justify-content: space-between;

            a {
                justify-content: center;
                min-width: 290px;
            }
        }
    }

    .blog {
        .section-heading {
            margin: 50px 0;
        }

        .blog-item {
            padding: 30px 0;
            background-image: url(../assets/images/bg-blog-item.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

            &:not(:last-child) {
                border-bottom: 5px solid $brand-color;
            }

            .container {
                display: flex;
                align-items: center;
            }
        }

        .image-link {
            display: flex;
            object-fit: cover;
            object-position: center;
            width: 380px;
            height: 380px;
            overflow: hidden;
            border-radius: 50%;

            img {
                width: 100%;
                height: auto;
            }
        }

        .content {
            padding-left: 50px;
            color: #fff;
        }

        .blog-title {
            margin-bottom: 10px;
            font-size: 29px;
            line-height: 1.2;
            text-transform: uppercase;
        }

        .author-section {
            margin-bottom: 20px;
        }

        .author-name {
            font-family: $font-helveticaneue-black;
        }

        .excerpt {
            margin-bottom: 30px;
        }
    }
  
    @media (max-width: 1199px) {
        .blog {
            .image-link {
                width: 300px;
                height: 300px;
            }
        }
    }
  
    @media (max-width: 991px) {
        .tasty {
            padding: 70px 0;

            .bones {
                display: none;
            }

            .content {
                width: 100%;
            }
        }

        .tastybone-test {
            .bg-dog {
                display: none;
            }
            
            .item {
                padding: 0 15px;
                width: 33.33%;

                a {
                    width: 200px;
                    height: 200px;
                    font-size: 22px;
                }
            }
        }

        .happy {
            padding: 60px 0;

            .titles a {
                max-width: 240px;
            }

            .buttons {
                flex-wrap: wrap;

                a {
                    align-items: center;
                    min-width: 210px;
                    max-width: 210px;
                    text-align: center;
                }
            }
        }

        .blog {
            .image-link {
                width: 270px;
                height: 270px;
            }

            .content {
                padding-left: 35px;
            }
        }
    }
  
    @media (max-width: 767px) {
        .tasty {
            padding: 50px 0;
            
            .heading {
                margin-bottom: 20px;
            }

            .subheading {
                margin-bottom: 40px;
                line-height: 1.2;
                font-size: 20px;
            }
        }

        .tastybone-test {
            padding: 50px 0 40px;

            .items {
                padding: 30px 5% 0;
            }

            .item {
                display: flex;
                justify-content: center;
                width: 50%;
                padding: 15px 10px;

                a {
                    width: 200px;
                    height: 200px;
                }
            }
        }

        .happy {
            padding-bottom: 20px;

            .titles {
                display: none;
            }

            .image-dogs {
                padding-top: 0;
            }

            .buttons {
                flex-direction: column;
                align-items: center;

                a {
                    justify-content: flex-start;
                    width: calc(100% - 50px);
                    min-width: initial;
                    max-width: initial;

                    & + a {
                        margin-top: 20px;
                    }
                }
            }
        }

        .blog {
            .section-heading {
                margin: 20px 0;
            }

            .blog-item {
                .container {
                    flex-direction: column;
                }
            }

            .image-link {
                width: 300px;
                height: 300px;
                margin-bottom: 30px;
            }

            .content {
                padding-left: 0;
            }
        }
    }
  
    @media (max-width: 575px) {
        .tastybone-test {
            .items {
                flex-direction: column;
                padding-left: 0;
                padding-right: 0;
            }

            .item {
                width: 100%;
                padding: 10px;

                a {
                    width: 250px;
                    min-height: 120px;
                    height: auto;
                    border-radius: 4px;
                }
            }
        }

        .happy {
            .buttons a {
                width: 100%;
            }
        }

        .blog .image-link {
            width: 260px;
            height: 260px;
        }
    }
}