//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the stockists page.
// -----------------------------------------------------------------------------

.page-stockists {
    .store-locator {
        padding: 50px 0;

        & + .stockists {
            padding-top: 0;
        }

        .stores {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin-bottom: 30px;
            list-style: none;

            .store-link {
                position: relative;
                top: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 130px;
                height: 74px;
                padding: 15px 8px;
                margin: 0 5px;
                background-color: #fff;
                box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
                border-radius: 5px;
                transition: all .25s ease-in-out;

                &:hover {
                    top: -5px;
                    box-shadow: 0 3px 6px 2px rgba(0,0,0,.2);
                }
            }

            img {
                width: auto;
                max-width: 100%;
                height: auto;
                max-height: 47px;
            }
        }

        .text-editor {
            text-align: center;
            word-break: break-word;

            a {
                text-decoration: underline;
            }
        }
    }

    .stockists {
        padding: 50px 0;

    }

    .search-section {
        display: flex;
        margin-bottom: 30px;
    }

    form {
        .form-group {
            display: flex;
            align-items: center;
        }

        .search-input {
            width: 310px;
            max-width: 100%;
            height: 45px;
            padding: 8px 10px;
            margin-right: 10px;
            font-family: $font-helveticaneue;
            font-size: 18px;
            color: $text-color;
            background: #fff;
            border: 1px solid #dbdbdb;
            border-radius: 0;
            outline: none;
            appearance: none;
            transition: .35s all ease-in-out;

            &:focus,
            &:focus-visible {
                border-color: $text-color;
                outline: none;
            }
        }

        .btn-search {
            padding: 22.5px;

            &::after {
                right: 0;
                left: 0;
                border-top-width: 10px;
                border-bottom-width: 10px;
                border-left-width: 13px;
            }
        }

        .btn-not-clickable {
            pointer-events: none;
        }
    }

    .map-section {
        display: flex;
    }

    .search-results-section {
        margin-top: 30px;
        padding-top: 20px;
        
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .item {
            background-color: rgba(172,143,99,.25);
            box-shadow: 0 2px 5px 1px rgba(0,0,0,.1);
            transition: .35s all ease-in-out;

            &:hover {
                box-shadow: 0 2px 20px 1px rgba(0,0,0,.3);
            }

            & + .item {
                margin-top: 20px;
            }
        }

        .item-wrapper {
            display: flex;
            padding: 25px 30px;
        }

        .information {
            padding-right: 50px;
            margin-right: 50px;
        }

        .name {
            margin-bottom: 10px;
            line-height: 1.1;
        }

        .address {
            line-height: 1.3;
        }

        .contact {
            position: relative;
            width: 250px;
            margin-left: auto;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: -50px;
                width: 3px;
                height: 100%;
                background-color: #000;
            }

            a {
                display: flex;
                width: fit-content;

                &:hover {
                    color: $brand-hover;
                }
            }

            .web-email a {
                margin: 7px 0;
                font-size: 16px;
                line-height: 1;
            }
        }

        .phone {
            font-family: $font-helveticaneue-black;
            font-size: 22px;
        }

        .view {
            display: flex;
            width: fit-content;
            margin-top: 15px;
            font-size: 16px;
            color: $brand-color;
        }
    }

    .search-results-none {
        display: flex;
        padding: 25px 30px;
        background-color: rgba(172,143,99,.25);
    }

    @media (max-width: 991px) {
        form .search-input {
            font-size: 16px;
        }

        .store-locator .stores .store-link {
            margin: 5px;
        }

       .search-results-section {
            .information {
                padding-right: 35px;
                margin-right: 35px;
            }

            .contact {
                width: 220px;

                &::before {
                    left: -35px;
                }

                ul a {
                    font-size: 15px;
                }
            }

            .view {
                font-size: 15px;
            }
        }
    }

    @media (max-width: 767px) {
        form {
            .search-input {
                width: 225px;
            }
        }

        .map-section iframe {
            height: 450px;
        }

        .search-results-section {
            margin-top: 20px;
            
            .item-wrapper {
                flex-direction: column;
                padding: 20px;
            }

            .information {
                padding-right: 0;
                padding-bottom: 20px;
                margin-right: 0;
                margin-bottom: 20px;
            }

            .contact {
                width: 100%;

                &::before {
                    left: 0;
                    top: -20px;
                    width: 100%;
                    height: 2px;
                }
            }

            .phone {
                font-size: 20px;
            }

            .view {
                margin-top: 10px;
            }
        }

        .search-results-none {
            padding: 20px;
        }
    }
}

.page-template-page-stockists {
    #wpsl-search-wrap {
        form {
            display: flex;
            justify-content: space-between;
            width: 100%;

            label {
                width: auto !important;
                font-family: $font-helveticaneue;
                font-size: 16px !important;
            }
        }

        .wpsl-input {
            display: flex;
            align-items: center;

            div {
                margin-bottom: 0;
            }

            #wpsl-search-input {
                width: 450px; // this value varies
                height: 39px;
                padding: 5px 8px;
                font-family: $font-helveticaneue;
                font-size: 16px;
            }
        }

        .wpsl-select-wrap {
            display: flex;
            align-items: center;

            #wpsl-radius {
                display: flex;
                align-items: center;
                margin-bottom: 0;
            }

            .wpsl-dropdown {
                width: auto;

                &:focus-visible,
                &:focus-within,
                &:focus {
                    outline: none;
                }
            }

            #wpsl-results {
                display: flex;
                align-items: center;
                margin-bottom: 0;
            }

            .wpsl-selected-item,
            ul li {
                font-family: $font-helveticaneue;
                font-size: 16px;
            }
        }

        .wpsl-search-btn-wrap {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            margin-right: 0;

            #wpsl-search-btn {
                margin-right: 0;
                padding: 9px 30px;
                font-family: $font-helveticaneue;
                font-size: 16px !important;
                color: #fff;
                background: $brand-color;
                border-radius: 5px;
            }
        }
    }

    #wpsl-result-list {
        .wpsl-no-results-msg,
        .wpsl-preloader {
            font-size: 16px;
        }

        .wpsl-store-location {
            margin-bottom: 0;

            & > p {
                span {
                    margin-bottom: 0;
                    padding-right: 5px;
                }
            }
        }

        li:not(.wpsl-no-results-msg) {
            background-color: transparent;
            color: #343434;
            // transition: .35s ease-in-out all;

            p {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 0;
                font-size: 14px;
                line-height: 1.4;
                transition: .35s ease-in-out all;

                strong {
                    width: 100%;
                    margin-bottom: 5px;
                    font-size: 18px;
                    line-height: 1.2;
                }
            }

            &:hover {
                color: #fff;
                background-color: $brand-color;

                p,
                a,
                .wpsl-direction-wrap {
                    color: #fff;
                }

                a:hover {
                    color: #101010;

                    &::before {
                        color: #fff;
                        transition: .35s ease-in-out all;
                    }
                }
            }
        }

        .wpsl-preloader:hover {
            background-color: transparent !important;
            color: #343434 !important;

            div, p, li {
                color: #343434 !important;
            }
        }

        a {
            font-family: $font-helveticaneue-bold;
            text-decoration: underline;
            color: #343434;
            transition: .35s ease-in-out all;
        }

        .wpsl-contact-details strong {
            margin-bottom: 0 !important;
            font-family: $font-helveticaneue !important;
            font-size: 14px !important;
            line-height: 1.4 !important;
        }

        .wpsl-direction-wrap {
            position: relative;
            display: flex;
            width: fit-content;
            font-size: 14px;
            line-height: 1.4;
            color: #343434;
            transition: .35s ease-in-out all;

            &::after {
                content: "-";
                position: absolute;
                top: 0;
                right: -10px;
                font-family: $font-helveticaneue;
            }

            a {
                position: absolute;
                left: 100%;
                display: flex;
                margin-left: 15px;
            }
        }
    }

    @media (max-width: 1399px) {
        .content .holder {
            padding: 30px;
        }

        #wpsl-search-wrap {
            form label,
            .wpsl-input #wpsl-search-input,
            .wpsl-select-wrap .wpsl-selected-item,
            .wpsl-select-wrap ul li {
                font-size: 14px !important;
            }

            .wpsl-input #wpsl-search-input {
                height: 36px;
            }

            .wpsl-search-btn-wrap #wpsl-search-btn {
                padding: 9px 20px;
                font-size: 14px !important;
            }
        }
    }

    @media (max-width: 1199px) {
        #wpsl-search-wrap {
            form label,
            .wpsl-input #wpsl-search-input,
            .wpsl-select-wrap .wpsl-selected-item,
            .wpsl-select-wrap ul li {
                font-size: 13px !important;
            }
            
            #wpsl-search-input {
                width: 300px !important; // this value varies
            }

            .wpsl-input #wpsl-search-input {
                height: 35px;
            }

            .wpsl-search-btn-wrap #wpsl-search-btn {
                padding: 7.5px 18px;
                font-size: 13px !important;
            }
        }
    }

    @media (max-width: 991px) {
        #wpsl-search-wrap {
            form {
                flex-wrap: wrap;
            }

            form label,
            .wpsl-input #wpsl-search-input,
            .wpsl-select-wrap .wpsl-selected-item,
            .wpsl-select-wrap ul li,
            .wpsl-select-wrap .wpsl-dropdown {
                font-size: 14px !important;
                line-height: 20px;
            }

            .wpsl-input {
                justify-content: space-between;
                width: 100%;
                padding-bottom: 5px;
                margin-right: 0;
            }
            
            #wpsl-search-input {
                width: calc(100% - 195px) !important;
            }

            .wpsl-input #wpsl-search-input {
                height: 40px;
            }

            .wpsl-select-wrap {
                padding-bottom: 5px;

                #wpsl-results {
                    padding-left: 20px;
                }
            }

            .wpsl-search-btn-wrap {
                padding-bottom: 5px;
                margin-top: -3px;
                margin-left: 20px;
                margin-right: auto;
                
                #wpsl-search-btn {
                    position: relative;
                    top: 1px;
                    padding: 9px 30px;
                    line-height: 20px;
                    font-size: 14px!important;
                }
            }
        }
    }

    // @media (max-width: 991px) {
    //     #wpsl-search-wrap {
    //         form label,
    //         .wpsl-input #wpsl-search-input,
    //         .wpsl-select-wrap .wpsl-selected-item,
    //         .wpsl-select-wrap ul li {
    //             font-size: 14px !important;
    //             line-height: 20px;
    //         }
            
    //         #wpsl-search-input {
    //             width: 270px !important;
    //         }

    //         .wpsl-input #wpsl-search-input {
    //             height: 40px;
    //         }

    //         .wpsl-select-wrap {
    //             padding-bottom: 5px;

    //             #wpsl-results {
    //                 padding-left: 20px;
    //             }
    //         }

    //         .wpsl-search-btn-wrap {
    //             padding-bottom: 5px;
                
    //             #wpsl-search-btn {
    //                 position: relative;
    //                 top: 1px;
    //                 padding: 9px 30px;
    //                 line-height: 20px;
    //                 font-size: 14px!important;
    //             }
    //         }
    //     }
    // }

    @media (max-width: 700px) {
        #wpsl-search-wrap .wpsl-search-btn-wrap #wpsl-search-btn {
            top: 2px;
            padding: 9.5px 30px;
        }
    }

    @media (max-width: 675px) {
        .content .holder {
            padding: 15px;
        }

        #wpsl-wrap #wpsl-result-list li {
            padding: 10px;
        }

        #wpsl-search-wrap .wpsl-select-wrap .wpsl-dropdown {
            height: 40px;
            padding: 5px 8px;
        }

        #wpsl-search-wrap .wpsl-search-btn-wrap {
            padding-bottom: 0;
            margin-top: 0;
        }

        #wpsl-stores {
            height: 320px !important;
        }
    }

    @media (max-width: 575px) {
        #wpsl-search-wrap {
            .wpsl-input {
                align-items: flex-start;
                flex-direction: column;

                #wpsl-search-input {
                    width: 100% !important;
                    margin-top: 5px;
                }
            }

            .wpsl-select-wrap {
                flex-direction: column;
                align-items: flex-start;

                #wpsl-radius,
                #wpsl-results {
                    align-items: flex-start;
                    flex-direction: column;
                    width: 100%;
                    padding: 0;
                }

                .wpsl-dropdown {
                    width: 100% !important;
                    margin-top: 5px;
                }

                #wpsl-results {
                    width: 100%;
                    padding-left: 0;
                    margin-top: 15px;
                }
            }
            
            .wpsl-search-btn-wrap {
                width: 100%;
                margin: 5px 0 0;
                padding: 0;

                #wpsl-search-btn {
                    top: 0;
                    width: 100%;
                    padding: 9px 15px;
                }
            }
        }
    }
}